<template>
    <div class="container mx-auto py-8">
        <p class="text-4xl font-bold text-gray-500 italic" >Hi from About</p>
    </div>
</template>
<script>
export default {
   name:'About' 
}
</script>
<style >
    
</style>