<template>
    <Navigation/>
    <router-view></router-view>
</template>

<script>
import Navigation from '../layouts/Navigation.vue';
export default {
    name: 'App',
    data() {
        return {

        }
    },
    components:{
        Navigation,
    }
}
</script>

<style scoped></style>