<template>
    <div class="container  mx-auto py-8 px-2">
        <div class="mb-6">
            <form class="columns-auto" v-on:submit.prevent="handleArticle">
                <div class="w-full mb-3">
                    <label for="Article" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Article
                        Name</label>
                    <input type="text" id="name" v-model="title" :class="{ error: v$.title.$errors.length }"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-cyan-500 focus:border-cyan-500 block w-full p-2.5  ">
                </div>
                <div class="w-full mb-3">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 ">Article Description</label>
                    <textarea v-model="description" :class="{ error: v$.description.$errors.length }" id="message" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none focus:ring-cyan-500 focus:border-cyan-500"
                        placeholder="Write some text..."></textarea>
                </div>
                <div class="w-full">
                    <button type="submit"
                        class="text-white bg-cyan-500 shadow-lg shadow-cyan-500/50 hover:bg-cyan-600 focus:ring-2 focus:outline-none focus:ring-cyan-400 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center ">Submit</button>
                </div>
            </form>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 ">
                <thead class="text-sm text-white uppercase bg-cyan-500">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Article name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Time
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(article, index) in articles" :key="article.id"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ article.title }}
                        </th>
                        <td class="px-6 py-4">
                            {{ article.created_at }}
                        </td>
                        <td class="px-6 py-4">
                            <button @click="deleteArticle(article.id)"
                                class="text-white bg-cyan-500 shadow-lg shadow-cyan-500/50 hover:bg-cyan-600 focus:ring-2 focus:outline-none focus:ring-cyan-400 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
import { useVuelidate } from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'
export default {
    setup() {
        return {
            v$: useVuelidate()
        }
    },
    data() {
        return {
            title: '',
            description: '',
            articles: []
        }
    },
    mounted() {
        this.fetchArticles();
    },
    validations() {
        return {
            title: { required },
            description: { required },
        }
    },
    methods: {
        fetchArticles() {
            axios.get('/api/article/list')
                .then(response => {
                    // console.log(response.data);
                    this.articles = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
        },
        handleArticle() {
            this.v$.$validate();
            if (this.v$.$error) {
                alert('Form failed validation');
                console.log(this.v$);
            } else {
                const article = { title: this.title, description: this.description };
                axios.post('/api/article/create', article)
                    .then(response => {
                        // console.log(response.data);
                        this.articles.push(response.data);
                        this.title = '';
                        this.description = '';
                    })
                    .catch(error => {
                        console.error(error);
                    });
                alert('Form successfully submitted.');
                console.log(this.v$);
            }

        },
        deleteArticle(id) {
            axios.post('/api/article/delete', { id: id })
                .then(response => {
                    // console.log(response.data);
                    this.articles = this.articles.filter(article => article.id !== id);
                })
        }
    },

}
</script>