<template>
    <div class="container mx-auto py-8">
        <p class="text-4xl font-bold text-gray-500 italic">Welcome to Home !</p>
    </div>
</template>
<script>
export default {
    name:'Home'
}
</script>
